<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>view_messages</title>

        {%load static%}
        <link href="{%static 'css/styles2.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <h2>UNREAD MESSAGES</h2>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Emailid</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%if authors%}
                    {%for i in authors%}
                    <tr>
                        <form action="{%url 'readmessage' %}" method=POST>
                        {% csrf_token %}
                        <td><input type="text" value="{{i.id}}" name="id" style="width: 30px;" readonly></td>
                        <td>{{i.name}}</td>
                        <td>{{i.emailid}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.msg}}</td>
                        <td><input type="submit" name="" value="mark as read" class="btn-primary"></td>
                        </form>
                    </tr>
                    {%endfor %}
                    {%endif %}
                </tbody>
            </table>
        </div>
        <div>
            <a href="{%url 'adminhome' %}">Home</a>
        </div>
    </body>
</html>